.aboutcontainer {
  position: relative;
  color: red;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.about {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.aboutmessage,
.certificationsmessage {
  color: aqua;
  font-size: 40px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.aboutsection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.theory {
  padding: 10px;
  color: rgb(188, 240, 240);
  justify-content: left;
  text-align: justify;
  border: 3px solid aqua;
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px aqua;
}
.allcertifications {
  border: 2px solid aqua;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 2px 6px aqua;
}
.single span {
  color: aqua;
  font-weight: bolder;
}
.single {
  text-align: justify;
  color: rgb(190, 237, 237);
  font-weight: lighter;

  margin-top: 20px;
}

@media only screen and (max-width: 400px) {
  .aboutmessage,
  .certificationsmessage {
    font-size: 18px;
  }
  .theory {
    font-size: small;
    text-align: justify;
  }
  .allcertifications {
    margin-top: 10px;
  }
  .single span {
    color: aqua;
    font-weight: bolder;
    font-size: 11px;
  }
  .single {
    font-size: 10px;
    padding-right: 5px;
  }
}
